.primary-btn {
    background-color: #3498db;
    color: #fff;
}

.secondary-btn {
    background-color: #2ecc71;
    color: #fff;
}

.success-btn {
    background-color:#27ae60;
    color: #fff;
}

.danger-btn {
    background-color: #e74c3c;
    color: #fff;
}

h1, .button-container {
    text-align: center;
}

button {
    border-style: none; border-radius: 4px;
    margin: 6px; padding: 6px 10px;
}